@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap");
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;

header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

header .midnight {
  width: 50%;
  height: 50px;
  position: fixed;
}

header .midnight #logo {
  width: 60px;
  height: 60px;
  margin: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../public/images/moon1.svg);
  -webkit-transition: all 1s;
  transition: all 1s;
}

header .menu {
  display: none;
}

header #burgerButton {
  width: 60px;
  height: 60px;
  margin: 30px;
  position: absolute;
  z-index: 99999;
  top: 0;
  right: 0;
  cursor: pointer;
}

header nav {
  display: none;
  color: black;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

header nav ul {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

header nav ul a {
  color: white;
  text-decoration: none;
  position: relative;
}

header nav ul a li {
  padding: 0px 10px;
  text-transform: uppercase;
}

aside {
  z-index: 1;
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 30px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

aside #closeButton {
  color: rgba(255, 255, 255, 0);
}

aside ul {
  display: none;
}

aside.open {
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 100000;
  position: fixed;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

aside.open #closeButton {
  color: white;
  margin: 10px;
  float: right;
  font-size: 3em;
}

aside.open #clear {
  display: block;
  clear: both;
}

aside.open ul {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

aside.open ul a {
  text-decoration: none;
  color: white;
}

aside.open ul a li {
  padding: 10px 10px;
  font-size: 1.5em;
  text-transform: uppercase;
}

@media screen and (min-width: 600px) {
  #burgerButton {
    display: none;
  }
  .menu, header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.title {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.container {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px white;
  width: 90%;
  height: 50%;
  color: white;
}

.container .card .card-header {
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border: solid 1px white;
}

.container .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  width: 100%;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container .card-body #navCard {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container.profil {
  height: auto;
  width: 100%;
  text-align: center;
}

.container.profil .card.articles {
  height: 200px;
}

.container.profil .card.articles .card-body.articlesList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container.profil .card.articles .card-body.articlesList .list {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container.profil .card.articles .card-body.articlesList .list .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  color: black;
  background-color: #212529;
  padding-top: 100px;
}

ion-icon {
  font-size: 32px;
}
/*# sourceMappingURL=app.css.map */