// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');
// font-family: 'Roboto', sans-serif;
// font-family: 'Raleway', sans-serif;
// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

//header
@import 'header';
//home
@import 'home';
//article
@import 'article';
//profil
@import 'profilShow';
//edit article
@import 'editArticle';
//créer article
@import 'createArticle';

a{
    text-decoration: none;
}

h3{
    font-family: 'Roboto', sans-serif;
}

body{
    main{
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    right:0;
    background-color: var(--color3);
    padding-top: 100px;
}

ion-icon {
    padding: 5px;
    font-size:35px;
    transform: scale(1);
    transition: .3s ease-in-out;
}

ion-icon:hover{
    transform: scale(1.5);
}
