// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');
// font-family: 'Roboto', sans-serif;
// font-family: 'Raleway', sans-serif;
// Variables
@import 'variables';
//header
@import 'header';
//home
@import 'home';
//article
@import 'article';
// Index Articles
@import 'articlesIndex';
//profil
@import 'profilShow';
//edit article
@import 'editArticle';
//créer article
@import 'createArticle';

a{
    text-decoration: none;
    margin: 0;
    color:var(--color5);
}

p{
    margin:0;
}

button{
    background:none;
    border:none;
}

h3{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-align: center;
}

body{
    main{
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    right:0;
    background-image: var(--background);
    padding-top: 100px;
}

ion-icon, .material-icons{
    padding: 5px;
    font-size:35px;
    transform: scale(1);
    transition: .3s ease-in-out;
}

ion-icon:hover, .material-icons:hover{
    transform: scale(1.5);
}
