@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap);:root {
  --color1: rgb(4, 14, 44);
  --color2: rgb(4, 25, 88);
  --color3: rgb(30, 26, 73);
  --color4: rgb(59, 58, 119);
  --color5: rgb(47, 72, 140);
  --background: linear-gradient(103deg, rgba(152, 152, 152, 0.03) 0%, rgba(152, 152, 152, 0.03) 20%,rgba(44, 44, 44, 0.03) 20%, rgba(44, 44, 44, 0.03) 40%,rgba(175, 175, 175, 0.03) 40%, rgba(175, 175, 175, 0.03) 60%,rgba(127, 127, 127, 0.03) 60%, rgba(127, 127, 127, 0.03) 80%,rgba(185, 185, 185, 0.03) 80%, rgba(185, 185, 185, 0.03) 100%),linear-gradient(127deg, rgba(103, 103, 103, 0.03) 0%, rgba(103, 103, 103, 0.03) 16.667%,rgba(68, 68, 68, 0.03) 16.667%, rgba(68, 68, 68, 0.03) 33.334%,rgba(147, 147, 147, 0.03) 33.334%, rgba(147, 147, 147, 0.03) 50.001000000000005%,rgba(213, 213, 213, 0.03) 50.001%, rgba(213, 213, 213, 0.03) 66.668%,rgba(235, 235, 235, 0.03) 66.668%, rgba(235, 235, 235, 0.03) 83.33500000000001%,rgba(190, 190, 190, 0.03) 83.335%, rgba(190, 190, 190, 0.03) 100.002%),linear-gradient(91deg, rgba(233, 233, 233, 0.01) 0%, rgba(233, 233, 233, 0.01) 20%,rgba(178, 178, 178, 0.01) 20%, rgba(178, 178, 178, 0.01) 40%,rgba(155, 155, 155, 0.01) 40%, rgba(155, 155, 155, 0.01) 60%,rgba(24, 24, 24, 0.01) 60%, rgba(24, 24, 24, 0.01) 80%,rgba(76, 76, 76, 0.01) 80%, rgba(76, 76, 76, 0.01) 100%),linear-gradient(126deg, rgba(190, 190, 190, 0.02) 0%, rgba(190, 190, 190, 0.02) 20%,rgba(191, 191, 191, 0.02) 20%, rgba(191, 191, 191, 0.02) 40%,rgba(230, 230, 230, 0.02) 40%, rgba(230, 230, 230, 0.02) 60%,rgba(216, 216, 216, 0.02) 60%, rgba(216, 216, 216, 0.02) 80%,rgba(56, 56, 56, 0.02) 80%, rgba(56, 56, 56, 0.02) 100%),linear-gradient(189deg, rgba(216, 216, 216, 0.03) 0%, rgba(216, 216, 216, 0.03) 14.286%,rgba(44, 44, 44, 0.03) 14.286%, rgba(44, 44, 44, 0.03) 28.572%,rgba(114, 114, 114, 0.03) 28.572%, rgba(114, 114, 114, 0.03) 42.858%,rgba(7, 7, 7, 0.03) 42.858%, rgba(7, 7, 7, 0.03) 57.144%,rgba(55, 55, 55, 0.03) 57.144%, rgba(55, 55, 55, 0.03) 71.42999999999999%,rgba(121, 121, 121, 0.03) 71.43%, rgba(121, 121, 121, 0.03) 85.71600000000001%,rgba(79, 79, 79, 0.03) 85.716%, rgba(79, 79, 79, 0.03) 100.002%),linear-gradient(103deg, rgba(244, 244, 244, 0.01) 0%, rgba(244, 244, 244, 0.01) 14.286%,rgba(211, 211, 211, 0.01) 14.286%, rgba(211, 211, 211, 0.01) 28.572%,rgba(76, 76, 76, 0.01) 28.572%, rgba(76, 76, 76, 0.01) 42.858%,rgba(185, 185, 185, 0.01) 42.858%, rgba(185, 185, 185, 0.01) 57.144%,rgba(246, 246, 246, 0.01) 57.144%, rgba(246, 246, 246, 0.01) 71.42999999999999%,rgba(35, 35, 35, 0.01) 71.43%, rgba(35, 35, 35, 0.01) 85%,rgba(244, 244, 244, 0.01) 85.716%, rgba(244, 244, 244, 0.01) 100.002%),linear-gradient(90deg, hsl(357,0%,14%),hsl(357,0%,14%));
}

header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

header .midnight {
  width: 50%;
  height: 50px;
  position: fixed;
}

header .midnight #logo {
  width: 60px;
  height: 60px;
  margin: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/images/moon1.svg?a57fcd16a9dcf19f63199b22086c071b);
  -webkit-transition: all 1s;
  transition: all 1s;
}

header .menu {
  display: none;
}

header #burgerButton {
  width: 60px;
  height: 60px;
  margin: 30px;
  position: absolute;
  z-index: 99999;
  top: 0;
  right: 0;
  cursor: pointer;
}

header nav {
  display: none;
  color: black;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

header nav ul {
  height: 50px;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  list-style-type: none;
}

header nav ul a {
  color: white;
  text-decoration: none;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header nav ul a li {
  padding: 0px 10px;
  text-transform: uppercase;
}

header nav ul a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

aside {
  z-index: 1;
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 30px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

aside #closeButton {
  color: rgba(255, 255, 255, 0);
}

aside ul {
  display: none;
}

aside.open {
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 100000;
  position: fixed;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

aside.open #closeButton {
  color: white;
  margin: 10px;
  float: right;
  font-size: 3em;
}

aside.open #clear {
  display: block;
  clear: both;
}

aside.open ul {
  height: 75vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  list-style-type: none;
}

aside.open ul a {
  text-decoration: none;
  color: white;
}

aside.open ul a li {
  padding: 10px 10px;
  font-size: 1.5em;
  text-transform: uppercase;
}

@media screen and (min-width: 600px) {
  #burgerButton {
    display: none;
  }

  .menu,
  header nav {
    display: -webkit-box;
    display: flex;
  }
}

.title {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  color: white;
}

.container.main {
  height: 250px;
}

.container {
  margin-bottom: 40px;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  box-shadow: 0px 20px 22px 8px rgba(0, 0, 0, 0.52);
}

.container .card {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  align-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  color: white;
  margin-bottom: 20px;
}

.container .card .card-header {
  top: 0;
  display: -webkit-box;
  display: flex;
  align-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
}

.container .card-header.last {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
          align-items: center;
}

.container .card-header.last .headerIcon,
.container .card-header.last .headerTitle {
  width: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  text-align: center;
}

.container .card-body.last,
.container .card-header.last {
  width: 90%;
  border: solid 1px black;
  padding: 10px;
}

.container .card-body {
  text-align: center;
  word-break: break-word;
  margin-bottom: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  justify-content: space-around;
  height: auto;
  width: 100%;
  display: flex;
  align-content: center;
}

.container .card-body #navCard {
  height: 30px;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
  align-content: center;
}

.container .bottom {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  justify-content: space-around;
  height: auto;
  width: 100%;
}

.container .bottom .author {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
}

.container .bottom .date {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
}

@media screen and (min-width: 600px) {
  .container {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}

.container.read {
  border: none;
  background-color: rgba(254, 254, 254, 0.7);
  box-shadow: none;
  padding: 20px;
  height: 100%;
}

.container.read .card.read {
  color: black;
}

.container.cat {
  margin: 0;
}

.container.cat .card {
  margin: 0;
}

.container.cat .card ul {
  width: 80%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
          align-items: center;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

.container.profil {
  height: 100%;
  text-align: center;
  padding: 10px;
}

.container.profil .card.articles {
  height: auto;
}

.container.profil .card.articles .card-body.articlesList {
  margin: 10px;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.container.profil .card.articles .card-body.articlesList .list {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.container.profil .card.articles .card-body.articlesList .list a {
  margin-right: 10px;
}

.container.profil .card.articles .card-body.articlesList .list .actions {
  display: -webkit-box;
  display: flex;
}

form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
}

form input {
  width: 90%;
}

form textarea {
  width: 90%;
}

form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
}

form input {
  width: 90%;
}

form textarea {
  width: 90%;
}

a {
  text-decoration: none;
  margin: 0;
  color: var(--color5);
}

p {
  margin: 0;
}

button {
  background: none;
  border: none;
}

h3 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-align: center;
}

body {
  right: 0;
  background-image: var(--background);
  padding-top: 100px;
}

body main {
  margin: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

ion-icon,
.material-icons {
  padding: 5px;
  font-size: 35px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

ion-icon:hover,
.material-icons:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

